body {
  font-family: 'Plaster', cursive;
}

* {
  box-sizing: border-box;
}

i.fa-spotify{
  font-size: 2.5em;
  color: #a8c9dd;
}

#logout{
  color: #a8c9dd;
}

.logoutRefresh{
  display: flex;
  align-items: center;
}

i.fa-refresh{
  padding: 5px;
  color: #a8c9dd;
}

#logout{
  padding: 5px;
}

body {
  margin: 0;
  background-color: #C1B5AD;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 2rem;
}

h2 {
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  font-size: 1.2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 0 1rem;
  background-color: #736357;
  color: #a8c9dd;
}

#app {
  display: flex;
}

#map {
  flex: 4;
  height: calc(100vh - 3rem);
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  #app {
    flex-direction: column
  }
  #map {
    margin: 0 1rem;
    height: 75vh;
  }
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.panel {
  margin: 1rem 1rem 0rem 1rem;
  padding: 1rem;
  border-radius: 2px;
  background-color: #EFECEA;
  color: #aaa;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.panel > div {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.panel > div:first-child {
  margin-top: 0;
}

#selected-concerts{
  height: calc(100vh - 3rem - 183.8px - 32px);
  overflow-y: scroll;
}

.concert-wrapper{
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

.selected-concert{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  border-radius: 2px;
  background-color: #aaa;
  color: #736357;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height:50px;
  overflow-x: scroll;
  font-size: 12.5px;
  align-items: center;
  padding: 0.5rem;
}

.band-image{
  height: 175px;
  width: 100%;
}

select {
  width: calc(100% - 25px);
  font-size: 12px;
  -webkit-appearance: menulist-button;
}

#x{
  position: absolute;
  top:-5px;
  right: -5px;
  height: 20px;
  border-radius: 50%;
  background-color: #aaa;
  display:none;
}

.concert-wrapper:hover #x{
  display: block;
}

.popularity{
  position: absolute;
  top:10px;
  right: -5px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-family: 'Mukta Malar', sans-serif;
  text-align: center;
  font-size: 22.5px;
  width: 40px;
  height: 40px;
}

.filter{
  display:flex;
  flex-direction: row;
  position: relative;
  width: 180px;
}

.add-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #5f9bc0;
  border: 0;
  color: #fff;
}

.add-btn:hover {
  background: #4283aa;
}

.add-btn:active {
  background: #286090;
}

.remove-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #d9534f;
  border: 0;
  color: #fff;
}

.remove-btn:hover {
  background: #c9302c;
}

.remove-btn:active {
  background: #c9302c;
}

.list-group {
  padding-left: 0;
}

.itinerary-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 8px 0;
  font-size: 13px;
  color: #333;
}

.sign-in-wrapper{
  display: flex;
  align-items: center;
  flex-direction:column;
}

.spotify-login{
  border-radius: 500px;
  background-color: #1db954;
  border: 1px solid transparent;
  text-decoration: none;
  width: 40%;
  margin-top: 10px;
}

.spotify-login-text{
  margin: auto;
  font-size: 1.25em;
  padding-left: 20px;
  padding-bottom: 7.5px;
  color: black;
}

.fa.fa-spotify{
  font-size: 1.5em;
  margin-top:5px;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.percent-loaded{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.wrapper{
  width: 100%;
  border: 0.1rem solid #ccd4d8;
  border-bottom: 0;
  border-radius: 0.2rem 0.2rem 0 0;
}

.dropdown-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  border-bottom: 0.1rem solid #ccd4d8;
}

.items{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  border: 0.1rem solid #ccd4d8;
  border-top: 0;
  background: #EFECEA;
  width: 177.5px;
  z-index: 9;
}

.item{
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.item:hover{
  background: #ccd4d8;
}

.filter-button{
    display:flex;
    flex-direction: column;
    position: relative;
    width: 180px;
}

.button-wrapper{
  width: 100%;
  border: 0.1rem solid #ccd4d8;
  border-radius: 0.2rem 0.2rem 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-select{
  padding: 0.5rem 0.75rem;
}

a{
  font-family: 'Mukta Malar', sans-serif;
}
